

























































































































body{
    background-color:orange;
    color:white;
}
heading{color:orange; text-transform:uppercase;
}
paragraph{
    color:orange;
}